<hr>

<div class="panel panel-default widget">
  <div class="panel-heading">
    <span class="glyphicon glyphicon-comment"></span>
    <h3 class="panel-title"> Recent Comments</h3>
    <span class="label label-info"> <%= @review.comments_count %> </span>
  </div>
    <div class="panel-body">
        <ul class="list-group">
          <%= render :partial => "review_comments/comment_box", :collection => @comments , :as => :log %>
         </ul>

    </div>
</div>
