
<div class="clearafix">


<%= grid(comments_grid) do |g|

  g.column :name => "#" do |comment|
    comment.id
  end

  g.column :name => "留言內容" do |comment|
    comment.comment.to_markdown
  end

  g.column :name => "檢討主題" do |comment|

    link_to(comment.commentable.subject, event_review_path(@event, comment.commentable, :anchor => dom_id(comment)))
  end



  g.column  :name => "留言者" do |comment|
    comment.user.name
  end

  g.column  :name => "留言時間" do |comment|
    comment.created_at.to_s(:short)
  end


end -%>

</div>
