<hr>

<div class="panel panel-default widget">
  <div class="panel-heading">
    <i class="fa fa-tasks"></i>
    <h3 class="panel-title"> TODO List </h3>
    <span class="label label-info"> <%= @review.todos_count %> </span>
  </div>
    <div class="panel-body">
        <ul class="list-group">
          <%= render :partial => "review_todos/todo_box", :collection => @todos , :as => :todo %>
         </ul>

    </div>
</div>
