
<h1>You have a new invitation</h1>

<p>A member wants you to join their team.</p>



<%= @inviter.name %> has invited you to join <%= @team.name %>.

<%= link_to "Accept Invitation", new_user_with_invitation_registration_url(@invitation.code) %>
