<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
  <%= simple_form_for @event do |f| -%>
    <%= f.input :name %>

    <%= f.submit "Submit", :disable_with => 'Submiting...' %>

  <% end -%>
  </div>
</div>
