
<div class="row">
<div class="col-sm-9 col-sm-offset-1">

  <div class="clearafix">
    <div class="pull-right">
      <%= ibutton("New Review", new_event_review_path(@event), :class => "btn btn-  default btn-primary", :iclass => "fa fa-plus") %>

   
    </div>
  
  </div>

<h2> 問題列表 </h2>

      <%= render :partial => "reviews/list", :locals => { :reviews_grid => @reviews_grid } %>


  </div>
</div>