
<div class="row">
<div class="col-sm-12 ">

<div class="clearafix">
  <div class="pull-right">
    <%= link_to("New Review", new_event_review_path(@event), :class => "btn btn-default btn-primary") %>
  </div>

</div>