
<div class="row">
<div class="col-sm-5 col-sm-offset-1">

  <div class="clearafix">
    <div class="pull-right">

    <%= ibutton("New Event", new_event_path, :class => "btn btn-xs btn-default btn-primary", :iclass => "fa fa-plus") %>

  
  </div>

  <h2> 活動列表 </h2>

      <%= render :partial => "events/list", :locals => { :events_grid => @events_grid } %>

  </div>
</div>